asgiref==3.4.1
click==8.0.3
dlib==19.22.1
Flask==2.0.2
Flask-WTF==1.0.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.22.0
Pillow==9.0.0
six==1.16.0
sqlparse==0.4.2
Werkzeug==2.0.2
WTForms==3.0.1
#cv2==4.5.0 (Should be manually installed on AppleSilicon)